.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.carousel {
  width: 1000px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* This is not responsive, should be changed later */
.registrationForm {
  margin-left: 50px;
  margin-right: 50px;
}

.leftRegistration {
  position: absolute;
  left: 50px;
  padding: 0px;
}

.footer{
  position:absolute;
  left:0;
  bottom:0;
  right:0;
  height: 2.5rem; 
}

.page-container {
  position: relative;
  min-height: 80vh;
}

.main-footer {
  padding-top: 3em;
  position: relative;
  bottom: 0;
  width: 100%;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.card-txt-top {
    width: 100%;
    height: 4vw;
    object-fit: cover;
}

.youtubeVideo {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}

.logoT {
  width: 70%;
}

.logoList {
  height: 37.5rem;
  overflow-y: auto;
}

.leftLabel {
  margin-left: 15px;
}
